:root {
    --background-color: #1e1e1e;
    --primary-color: #282828;
    --font-color: #f9efdb;
    --accent-color: #282828;
}

.app-container {
    height: 580px;
    width: 385px;
    background-color: var(--background-color);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.header--container {
    background-color: var(--primary-color);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.header--text {
    font-family: "Rubik" sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: var(--font-color);
}
.timer--container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer--button {
    display: flex;
    justify-content: center;
    align-items: center;

    border: none;
    background: transparent;
    cursor: pointer;

    border-radius: 50%;
    width: 320px;
    height: 320px;

    /* box-shadow: 0px 0px 10px rgba(95, 255, 92, 0.5); */
    /* background: linear-gradient(#5fff5c, #39a238); */
    transition: transform 200ms;
}

.timer--inner-circle {
    content: "";
    position: absolute;
    width: 306px;
    height: 306px;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: black;

    transition: transform 200ms;
}

.timer--outer-circle {
    content: "";
    position: absolute;

    border-radius: 50%;
    width: 320px;
    height: 320px;

    background: #5fff5c;
    box-shadow: 0px 0px 10px #5fff5c;
    transition: transform 200ms, box-shadow 100ms;
}

.timer--time {
    position: relative;
    font-family: "Rubik", sans-serif;
    font-variant-numeric: tabular-nums;
    font-weight: 400;
    font-size: 88px;
    color: var(--font-color);
}

.timer--button:hover .timer--outer-circle {
    transform: scale(1.02);
}

.timer--button:active {
    transform: scale(0.91);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes hoverRotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
.coming--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coming--container h1 {
    font-size: 80px;
    transition: text-shadow 200ms;
}

.coming--container:hover h1 {
    text-shadow: 0px 0px 10px var(--font-color);
}
.navbar--container {
    background-color: var(--primary-color);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.navbar--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.navbar--button {
    text-align: center;
    color: var(--font-color);
    background: none;
    cursor: pointer;
    outline: inherit;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 48px;
    opacity: 70%;

    transition: transform 200ms;
}

.selected {
    opacity: 100%;
}

.navbar--button:hover {
    opacity: 0.8;
    text-shadow: 0px 0px 2px var(--font-color);
}

.navbar--button:active {
    transform: scale(0.98);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
